.footer-grid{
  margin-top: 5px;
  font-size: 20px;
  margin-left: 50px;
}

.footer-grid{
  display: grid;
  grid-template-columns: auto auto;
  height: 250px;
}
.grid-item-2{
  margin-right: 10px;

}

.col-sm{
  background-color: lightblue;
}

.grid-item-1{
  background-color: cornflowerblue;
}

.container-text-center{
  background-color: darkblue;

}

.grid-item{
  background-color:cornflowerblue;
}

.grid-item-2{
  background-color:lightskyblue;
}

